<!-- File: base.html -->
<!-- Author: Letitia Caspersen (letitiac@bu.edu), 2/3/2026 -->
<!-- Base page for Sealy's Restaurant webapp. Contains header and
navigation panel shared across all pages -->

<!-- Load static allows access to style.css file -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Makes webapp responsive for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seally's at the Wharf</title>
    <link rel="stylesheet" href="{% static 'restaurant/style.css' %}">
</head>
<body>
    <header>
        <h1>Seally's at the Wharf</h1>
        <nav>
            <!-- Navigation to other pages -->
            <a href="{% url 'main' %}">Main Page</a>
            <a href="{% url 'order' %}">Order Page</a>
        </nav>
    </header>

    <!-- Page content is provided by the specific HTML page extending this base page -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
