<!-- File: base.html -->
<!-- Author: Letitia Caspersen (letitiac@bu.edu), 2/12/2026 -->
<!-- Base page for mini_insta web app. Contains header and
navigation panel shared across all pages -->

<!-- Load static allows access to style.css file -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Makes webapp responsive for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Insta</title>
    <link rel="stylesheet" href="{% static 'mini_insta/style.css' %}">
</head>
<body>
    <header>
        <div class="header_left">
            <h1>Mini Insta</h1>
            <nav>
                <a href="{% url 'show_all_profiles' %}">Profiles</a>
            </nav>
        </div>
        {% if profile %}
        <div class="header_profile">
            <img src="{{ profile.profile_image_url }}" alt="Profile Image">
            <span>@{{ profile.username }}</span>
        </div>
        {% endif %}
    </header>

    <!-- Page content is provided by the specific HTML page extending this base page -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% if profile %}
        <nav>
            <a href="{% url 'show_feed' profile.pk %}">Home</a>
            <a href="{% url 'create_post' profile.pk %}">Create Post</a>
            <a href="{% url 'show_profile' profile.pk %}">Profile</a>
        </nav>
        {% endif %}
        <h3> Mini Insta created by Letitia Caspersen for BU-CS-412 </h3>
    </footer>
</body>
</html>
