<!-- File: show_profile.html -->
<!-- Author: Letitia Caspersen (letitiac@bu.edu), 2/27/2026 -->
<!-- HTML page for mini insta, showing a single profile -->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}
<div class="profile_detail">
    <img src="{{ profile.profile_image_url }}" alt="Profile Image">
    <div class="profile_info">
        <p class="profile_username">@{{ profile.username }}</p>
        <h2>{{ profile.display_name }}</h2>
        <div class="profile_stats">
            <a href="{% url 'show_followers' profile.pk %}">
                <span class="stat_count">{{ profile.get_num_followers }}</span> Followers
            </a>
            <a href="{% url 'show_following' profile.pk %}">
                <span class="stat_count">{{ profile.get_num_following }}</span> Following
            </a>
        </div>
        <p class="profile_bio">{{ profile.bio_text }}</p>
        <a href="{% url 'update_profile' profile.pk %}"><button type="button">Update Profile</button></a>
    </div>
</div>

<div class="posts">
    <h3>Posts</h3>
    <div class="post_grid">
        {% for post in profile.get_all_posts %}
        <a href="{% url 'show_post' post.pk %}" class="post_grid_item">
            {% with post.get_all_photos as photos %}
            {% if photos %}
                <img src="{{ photos.0.get_image_url }}" alt="Post Image">
            {% else %}
                <img src="{% static 'mini_insta/no_image.jpg' %}" alt="No Image">
            {% endif %}
            {% endwith %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
